//
//  Root
//

:root {
    box-sizing:             border-box;
    
    font: {
        family:             inherit;
        size:               percentage( 10 / strip-unit($_browser-context) );
        // 'size' sets the document's root font-size to 10px,
        // relative to the given browser context
        style:              inherit;
        weight:             inherit; }
    text-decoration:        none;
    -ms-text-size-adjust:   100%;
    -webkit-text-size-adjust:100%;
    
    cursor:                 default;
}

*,
::before,
::after {
    box-sizing:             inherit;
    
    background-repeat:      no-repeat;
}

