@if _feature(utilities,transform) {
    /**
     *  #OVERRIDES, #TRANSFORM
    **/

    $_petra-utility-class-rotate: _utility-classname('rot', 'rotate');

    @include _prefix(utility, $_petra-utility-class-rotate) {
        @each $grade in _petra(utility, transform-grades, rotate) {

            &-#{$grade} {
                @include _make-responsive-utility {
                    transform: _utility-value( rotateZ( #{$grade + 'deg'} ) );
                }
            }

        }
    }

    @include _prefix(utility, 'scale') {
        @each $grade in _petra(utility, transform-grades, scale) {

            &-#{$grade} {
                @include _make-responsive-utility {
                    transform: _utility-value( scale($grade) );
                }
            }

        }
    }

    @include _prefix(utility, 'flip') {
        &-x {
            @include _make-responsive-utility {
                transform: _utility-value( scaleX(-1) );
            }
        }

        &-y {
            @include _make-responsive-utility {
                transform: _utility-value( scaleY(-1) );
            }
        }
    }
}
