@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

@use 'config' as *;
@use 'config.helpers' as *;

@use 'core.debugger' as *;

//  mixin prefix()
//  ============================================================================
//  Prepends a prefix defined in the namespacing config to the given class or
//  classes. Stateful prefixes are automatically joined to their parent classes
//  when nested.
//
//  $prefix (key) - A prefix to pull from the config. This key must correspond
//  to one defined in the config.
//  $classes (arglist) - One or more classnames to prefix.

@mixin prefix($prefix, $classes...) {
    @if prefix($prefix) { //  @NOTE: checks if the given prefix is valid.

        $class-prefix: if(
            string.index($prefix, 'state-') and &, //  @NOTE: checks if the prefix is stateful, and if there's a parent selector.
            '&.#{ prefix($prefix) }', //  @NOTE: if true, joins the output to the parent selector as a stateful modifier.
            '.#{ prefix($prefix) }' //  @NOTE: if false, outputs a standalone class.
        );

        @if feature(namespace, bem-nesting) {
            //  @NOTE: checks if bem-nesting is enabled, and outputs a separate block for each given class if so.
            //  if this isn't done, the combination of multiple classes and parent operators results in jumbled output.
            //  @TODO: include this in Petra documentation, as a caveat to enabling bem-nesting.

            @each $class in $classes {
                #{$class-prefix + $class} { @content; }
            }

        } @else {

            $selectors: ();

            @each $class in $classes {
                $selectors: list.append($selectors, ($class-prefix + $class), comma);
            }

            #{$selectors} { @content; }

        }

    } @else {

        @include debugger(
            'prefix()',
            $prefix,
            map.keys( config(namespace, prefix) ),
            false
        );

    }
}
