//
//  Mixins, scaling
//

@mixin size($width, $height: $width) {
    height:					$height;
    width:					$width;
}
@mixin min-size($width, $height: $width) {
    min: {
        width:              $width;
        height:             $height; }
}
@mixin max-size($width, $height: $width) {
    max: {
        width:              $width;
        height:             $height; }
}

@mixin aspect-ratio($width: 16, $height: 9, $position: relative) {
	//  by Sean Dempsey
	//  http://codepen.io/seanseansean
    @if $position {
        position:               $position;
    }
	
	
	&::before {
        display:                block;
        content:                "";
        width:                  100%;
        padding-top:            ($height / $width) * 100%;
        
        pointer-events:         none;
	}
	
	
	> * {
        position:               absolute;
            top:                0;
            left:               0;
            right:              0;
            bottom:             0;
        
        height:                 100%;
        width:                  100%;
	}
}

