//
//  Root Elements
//

html {
    font: {
        //  sets the document's root font-size to 10px,
        //  relative to set browser context
        size:               (10 / strip-unit($browser-context) * 100) + 0%;
    }

    text-size-adjust:       100%;
}






