//
//  Typographic Elements
//

a {
    background: {
        color:              transparent; }

    cursor:                 pointer;


    &:link { }

    &:visited { }

    &:focus,
    &:hover,
    &:active { }


    @include respond-to(print) {
        &::after {
            content:            " (" attr(href) ")";
        }
    }
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    clear:                  both;
}


p {
    margin: {
        bottom:             $gutter; }


    &.lede {
        margin: {
            bottom:             $gutter; }
    }
}


blockquote {
    display:                block;
    margin: {
        bottom:             $gutter; }
    position:               relative;
}


q {
    quotes:                 "\201c" "\201d" "\2018" "\2019";
}


strong,
.bold {
    //  use <strong> for text that is bold for semantically important emphasis
    //  the .bold class can be applied when additional semantic tags are not desired
    font: {
        weight:             bold; }
}


dfn,
cite,
em,
.italic {
    //  use <dfn> to define key words, terms, and abbreviations to be referenced in writing
    //  use <cite> to mark up the title of a cited or quoted work
    //  use <em> for text that is italicized for semantic stress emphasis
    //  the .italic class can be applied when additional semantic tags are not desired
    font: {
        style:              italic; }
}


address {
    margin: {
        bottom:             1rem; }
}


code, .code,
kbd,
tt,
var {
    @include font-set(monospace-1);
}

.code {
    &-bloc,
    &-block {
        display:                block;
    }

    &-inline {
        display:                inline-block;
    }
}

pre {
    @include font-set(monospace-2);
}


abbr {
    cursor:                 help;
}


mark, .mark,
ins, .ins {
    //  extraneous margins and padding added to cause highlights to expand beyond text highlighted without increasing word-spacing
    //  it's an essentially meaningless stylistic choice
//  margin-left:            -0.2ex;
//  margin-right:           -0.2ex;
//  padding-left:           .2ex;
//  padding-right:          .2ex;
}


del, .del,
s, .strike {
    //  the included non-semantic classes here, though interchangeable, can be used to indicate intent in markup
    text-decoration:        line-through;
}


sup, .superscript,
sub, .subscript {
    height:                 0;
    position:               relative;

    font: {
        size:               72%; }
    line-height:            0;
}

sup, .superscript {
    vertical-align:         super;
}

sub, .subscript {
    vertical-align:         sub;
}


small, .small {
    //  the semantic <small> tag is meant for inline secondary content
    //  use the non-semantic .small class for non-semantic or block-level cases
    font: {
        size:               75%; }
}

big, .big {
    //  the semantic <big> tag is deprecated in HTML5
    //  use the non-semantic .big class instead
    font: {
        size:               125%; }
}

u, .underline {
    text-decoration:        underline;
}






