//
//  #SETTINGS, #PETRA-UTILITIES
//
//  1. Accepts a single number or a list. If the list is two-entries long, the
//     entries will be used as the lower and upper limits for the type scaling
//     classes.
//

$_petra-config-utilities: (
    id: 'utility',

    single-responsibility: (
        'flex-align': (
            property:               'align-items',
            values: (
                center, flex-start, flex-end, space-around, space-between
            )
        ),
        'flex-justify': (
            property:               'justify-content',
            values: (
                center, flex-start, flex-end, space-around, space-between
            )
        ),
    ),

    transform-grades: (
        rotate: (
            45, 90, 180, 270, 360
        ),

        scale: (
            2, 3, 4, 5
        ),
    ),

    type-scale-values:      (1, 10), // [1]
);

$petra-config-utilities: () !default;
