//  ============================================================================
//
//  #TOOLS, #CORE-RESPONSIVE
//
//  ============================================================================

//  _respond-to-query()
//  ============================================================================
//  Parses the arguments passed into the 'respond-to()' mixin and formats the
//  results as a query string.

@function _respond-to-query($args...) {
    $query: 'only screen';

    @each $key-val in $args {
        @each $property, $value in $key-val {

            $query: $query + ' and (#{$property}: #{$value})';

        }
    }

    @return $query;
}

//  respond-to()
//  ============================================================================
//  sass-lint:disable indentation

@mixin _respond-to($breakpoints...) {
    @each $breakpoint in $breakpoints {

        @if _petra(layout, breakpoint, $breakpoint) {

            $query: _petra(layout, breakpoint, $breakpoint, query);

            @media #{_respond-to-query($query)} {
                @content;
            }

        } @else {

            @include _debug(
                $mixin: '@include respond-to()',
                $value: $breakpoint,
                $valid: map-keys( _petra(layout, breakpoint) )
            );
        }

    }
}

    @mixin respond-to($breakpoints...) {
        @include _respond-to($breakpoints...) { @content; }
    }
