//  ============================================================================
//
//  #TOOLS, #CORE-CONSTRUCTORS
//
//  Rule-constructing mixins for functionality included in multiple modules.
//
//  1. '_responsive-modifier()' is defined in '_core.namespacing.scss'.
//
//  ============================================================================

//  _make-headings()
//  ============================================================================
//  $selector (string) - A namespace under which the heading classes will be
//  generated.
//  $base (number) - A base font-size used as a base for font-size scaling, and
//  applied as-is to the <h6> equivalent. Defaults to '1em'.
//  $factor (number) - The factor by which the font-size will be multiplied;
//  defaults to the factor set in the typography config module.
//  $h6 (boolean) - Determines whether an <h6> equivalent will be output;
//  defaults to 'true', but can be toggled off to prevent the output of a
//  redundant class.

@mixin _make-headings(
    $selector,
    $base: 1em,
    $factor: _petra(typography, heading-scale-factor),
    $h6: true,
    $utility: false
) {
    @if $factor > 0 {

        $list: ($base);

        @for $i from 1 through 5 {
            $var: nth($list, $i) * $factor;

            $list: append($list, $var, comma);
        }

        @for $i from 1 through ( if($h6, 6, 5) ) {
            $font-size: nth( list-reverse($list), $i );

            #{$selector + $i} {

                @if $utility {
                    clear: _utility-value(both);

                    font-size: _utility-value($font-size);
                } @else {
                    clear: both;

                    font-size: $font-size;
                }
            }
        }

    } @else {

        @warn 'Petra:  value for key \'heading-scale-factor\' in the typography config must be greater than 0.';

    }
}


//  _make-responsive-utility()
//  ============================================================================
//  $flag (boolean) - Determines whether or not to generate responsive
//  modifiers; defaults to _feature(utilities, responsive).

@mixin _make-responsive-utility( $flag: _feature(utilities, responsive) ) {
    @content;

    @if $flag {
        @include _responsive-modifier { @content; } // [1]
    }
}
