//
//  Breakpoints
//

$_breakpoint-get-path:      _pathfinder(grid, breakpoints);
$_breakpoint-get-keys:      map-deep-keys($_breakpoint-get-path);
    $breakpoints:           $_breakpoint-get-keys;

@function _breakpoint-get-name($key) {
    $name: map-deep-get($_breakpoint-get-path, $key, name);
    @return $name;
}
@function _breakpoint-get-shorthand($key) {
    $shorthand: map-deep-get($_breakpoint-get-path, $key, shorthand);
    @return $shorthand;
}
@function _breakpoint-get-query($key) {
    @return map-deep-get($_breakpoint-get-path, $key, query);
}
@function _breakpoint-build-query($arg) {
    $query: ();
    @each $property, $value in ($arg) {
        $query: append($query, unquote("and (#{$property}: #{$value})"), space);
    }
    @return $query;
}

@mixin respond-to($breakpoint...) {
    @for $index from 1 through length($breakpoint) {
        $i: nth($breakpoint, $index);
        
        @if map-has-key($_breakpoint-get-path, $i) {
            $query: _breakpoint-get-query($i);

            @media screen #{_breakpoint-build-query($query)} {
                @content;
            }
        } @else {
            @include debug(debug-message('respond-to'), debug-flag('respond-to'), $i);
        }
    }
}

