//
//  Debugging  
//

$_debug-get-path:       _pathfinder(debugging);

@function _debug-get-message($key) {
    @return map-deep-get($_debug-get-path, messages, $key);
}
    @function debug-message($key) {
        @return _debug-get-message($key); }

@function _debug-get-outline($key) {
    @return map-deep-get($_debug-get-path, outline, $key);
}

@function _debug-get-flag($key) {
    @return map-deep-get($_debug-get-path, flags, $key);
}
    @function debug-flag($key) {
        @return _debug-get-flag($key); }


@mixin debug($mixin: _debug-get-message('default'), $error: false, $value: "<undefined>") {
    @if $error {
        @warn "#{nth(_debug-get-message(lede), 1)} '#{$value}' #{nth(_debug-get-message(lede), 2)} '#{$mixin}'. #{_debug-get-message(on-error)}";
        @error _debug-get-message(on-error);
    } @else {
        outline: {
            color: _debug-get-outline('color') !important;
            style: _debug-get-outline('style') !important;
            width: _debug-get-outline('width') !important; }
        
        @warn "#{nth(_debug-get-message(lede), 1)} '#{$value}' #{nth(_debug-get-message(lede), 2)} '#{$mixin}'. #{_debug-get-message(on-warn)}";
    }
}

