//
//  Grouping, Lists
//

@include _prefix(object, 'list') {
    margin-bottom:          $gutter;
    padding-left:           ($gutter * 2);
    
    
    @each $val in _pathfinder(objects, list-style-types) {
        @include modifier($val) {
            list-style-type:        #{$val};
        }
    }
}

