//
//  Icons, ASCII Emotes
//

@mixin _ascii-emote {
    display:                inline-block;

    font: {
        family:             Ubuntu, Helvetica, Arial, sans-serif;
        size:               inherit;
        style:              inherit; }
    line-height:            1;
    text-rendering:         optimizeLegibility;

    cursor:                 default;
}

@if _feature(ascii-emotes) {

    @include _prefix(object, 'ascii') {

        &-bauble {
            @include _ascii-emote;

            &::before {
                //  (っ˘ω˘ς)
                content:                "\0028\3063\02d8\03c9\02d8\03c2\0029";
            }
        }

        &-eye {
            @include _ascii-emote;

            &::before {
                //  ( ◕◕ )
                content:                "\0028\0020\25d5\25d5\0020\0029";
            }
        }

        &-eye-alt {
            @include _ascii-emote;

            &::before {
                //  ( ◕.◕ )
                content:                "\0028\0020\25d5\002e\25d5\0020\0029";
            }
        }

        &-eyedk {
            @include _ascii-emote;

            &::before {
                //  ¯\_( ◕◕ )_/¯
                content:                "\00af\005c\005f\0028\0020\25d5\25d5\0020\0029\005f\002f\00af";
            }
        }

        &-eyedk-alt {
            @include _ascii-emote;

            &::before {
                //  ¯\_( ◕.◕ )_/¯
                content:                "\00af\005c\005f\0028\0020\25d5\002e\25d5\0020\0029\005f\002f\00af";
            }
        }

        &-fisticuffs {
            @include _ascii-emote;

            &::before {
                //  (ง'̀-'́)ง
                content:                "\0028\0e07\0027\002d\0027\0029\0e07";
            }
        }

        &-glare {
            @include _ascii-emote;

            &::before {
                //  ¬_¬
                content:                "\00ac\005f\00ac";
            }
        }

        &-idfk {
            @include _ascii-emote;

            &::before {
                //  ¯\_(ಠ_ಠ)_/¯
                content:                "\00af\005c\005f\0028\0ca0\005f\0ca0\0029\005f\002f\00af";
            }
        }

        &-idk {
            @include _ascii-emote;

            &::before {
                //  ¯\_(ツ)_/¯
                content:                "\00af\005c\005f\0028\30c4\0029\005f\002f\00af";
            }
        }

        &-koala {
            @include _ascii-emote;

            &::before {
                //  ʕ´•ᴥ•`ʔ
                content:                "\0295\00b4\2022\1d25\2022\0060\0294";
            }
        }

        &-koaladk {
            @include _ascii-emote;

            &::before {
                //  ¯\_ʕ´•ᴥ•`ʔ_/¯
                content:                "\00af\005c\005f\0295\00b4\2022\1d25\2022\0060\0294\005f\002f\00af";
            }
        }

        &-lenny {
            @include _ascii-emote;

            &::before {
                //  (͡° ͜ʖ͡°)
                content:                "\0028\0020\0361\00b0\0020\035c\0296\0020\0361\00b0\0029";
            }
        }

        &-lurking {
            @include _ascii-emote;

            &::before {
                //  ┻┳|
                //  ┳┻|
                //  ┻┳|
                //  ┳┻|_
                //  ┻┳|•.•)
                //  ┳┻|⊂ﾉ
                //  ┻┳|
                white-space:            pre;

                content:                "\253b\2533\007c\a\2533\253b\007c\a\253b\2533\007c\a\2533\253b\007c\0020\005f\a\253b\2533\007c\0020\2022\002e\2022\0029\a\2533\253b\007c\2282\ff89\a\253b\2533\007c";
            }
        }

        &-monstercry {
            @include _ascii-emote;

            &::before {
                //  ༼ ༎ຶ ෴ ༎ຶ ༽
                content:                "\0f3c\0020\0f0e\0020\0df4\0020\0f0e\0020\0f3d";
            }
        }

        &-summoner {
            @include _ascii-emote;

            &::before {
                //  ༼ つ ◕◕ ༽つ
                content:                "\0f3c\0020\3064\0020\25d5\25d5\0020\0f3d\3064";
            }
        }

        &-tableflip {
            @include _ascii-emote;

            &::before {
                //  (╯°□°）╯︵ ┻━┻
                content:                "\0028\256f\00b0\25a1\00b0\ff09\256f\fe35\0020\253b\2501\253b";
            }
        }

        &-theface {
            @include _ascii-emote;

            &::before {
                //  ಠ_ಠ
                content:                "\0ca0\005f\0ca0";
            }
        }

    }

}
