//
//  Layout, Flexbox
//

@include _prefix(object, 'flex') {
    @include _block {
        display:                flex;
        flex-wrap:              nowrap;
    }
    
    @include _element('item') {
        flex: {
            basis:              auto;
            grow:               0;
            shrink:             1; }
        
        
        @include _modifier('grow') {
            flex: {
            //  'flex-basis' here is to resolve issues with older browsers.
            //  this is in spite of my deliberate disregard for all of IE. ¬_¬
                basis:              0%;
                grow:               1; }
        }
    }
}

