//
//  Layout, Flexbox
//

@include _prefix(object, 'flex') {
    @include _block {
        display:                flex;
        flex-wrap:              nowrap;
        
        
        @if not _feature(flex-utilities) {
            @include _modifier('column') {
                flex-direction:         column;
            }

            @include _modifier('row') {
                flex-direction:         row;
            }

            @include _modifier('align-center') {
                align-content:          center;
            }

            @include _modifier('justify-center') {
                justify-content:        center;
            }
        }
    }
    
    @include _element('item') {
        flex: {
            grow:               0;
            shrink:             1;
            basis:              auto; }
        //  min-width set to prevent css-truncated text from breaking the flex.
        min-width:              0;
        margin: {
            top:                auto;
            bottom:             auto; }
        
        
        @include _modifier('grow') {
            flex-grow:              1;
            //  'flex-basis' here is to resolve issues with older browsers.
            //  this is in spite of my deliberate disregard for all of IE. ¬_¬
            flex-basis:             0%;
        }
        
        @if not _feature(flex-utilities) {
            @include _modifier('align-center') {
                align-self:             center;
            }
            @include _modifier('align-start') {
                align-self:             flex-start;
            }
            @include _modifier('align-end') {
                align-self:             flex-end;
            }
        }
    }
}

