//
//  Reset
//

* {
    margin:                 0;
    padding:                0;
    
    border:                 0;
}

:root {
    box-sizing:             border-box;
    
    font: {
        family:             inherit;
        size:               100%;
        // 'size' sets the document's root font-size to 10px,
        // relative to set browser context
        style:              inherit;
        weight:             inherit; }
    // line-height: / set a configurable option for this value, after building out the source getting function
    text: {
        decoration:         none;
        size-adjust:        100%; }
    vertical-align:         baseline;
    
    
    &:before,
    &:after,
    * {
        box-sizing:             inherit;
    }
}

body {
    font: {
        size:               (10 / strip-unit($browser-context) * 100) + 0%; }
}

article,
aside,
details,
div,
footer,
header,
main,
menu,
nav,
ol,
section,
summary,
ul {
    display:                block;
}

ol,
ul {
    list-style:             none;
}

audio,
canvas,
progress,
video {
    display:                inline-block;
    
    vertical-align:         baseline;
}
audio:not([controls]) {
    display:                none;
    height:                 0;
}

[hidden] {
    display:                none !important;
}

