//
//  Typography
//

h1, h2, h3, h4, h5, h6 {
    clear:                  both;
}

h1 {
    font-size:              1.5em;
}
h2 {
    font-size:              1.4em;
}
h3 {
    font-size:              1.3em;
}
h4 {
    font-size:              1.2em;
}
h5 {
    font-size:              1.1em;
}
h6 {
    font-size:              1em;
}

p {
    //  @TODO: test and weight whether to use a gutter or an em here.
    //  perhaps using the line-height with an em?
    margin-bottom:          $_gutter;
}

blockquote {
    // @TODO:  likewise here.
    margin-bottom:          $_gutter;
    position:               relative;
}

code, kbd, pre, tt, var {
    font-family:            font-stack(monospace);
}

abbr[title] {
    cursor:                 help;
}

mark, ins {
    margin: {
        right:              -0.2ex;
        left:               -0.2ex; }
    padding: {
        right:              0.2ex;
        left:               0.2ex; }
}

