//
//  Forms
//

form {
    @include                clearfix;
}

legend, label {
    clear:                  both;
    display:                block;
}

input {
    color:                  inherit;
    
    
    &[type="radio"],
    &[type="checkbox"] {
        line-height:            inherit;
    }

    &[type="file"] {
        display:                block;
    }

//    &[type="text"],
//    &[type="search"],
//    &[type="email"],
//    &[type="password"],
//    &[type="url"],
//    &[type="tel"],
//    &[type="number"],
//    &[type="range"],
//    &[type="date"],
//    &[type="month"],
//    &[type="week"],
//    &[type="time"],
//    &[type="datetime"],
//    &[type="datetime-local"] {
//        display:                block;
//        width:                  100%;
//    }
}

select {
    display:                block;
    width:                  100%;

    color:                  inherit;
    text-transform:         none;


    &[multiple],
    &[size] {
        height:                 auto;
    }
}

output {
    display:                block;
}

textarea {
    display:                block;
    width:                  100%;

    color:                  inherit;
}

input, select, textarea, button {
    &:disabled {
        cursor:                 not-allowed;
    }
}

