//
//  Layout
//

hr {
    margin: {
        top:                ($_gutter / 2);
        bottom:             ($_gutter / 2); }
    
    border: {
        top-style:          none;
        right-style:        none;
        left-style:         none; }
}

