/**
 *  #ELEMENTS, #TYPOGRAPHY
**/

@if _feature(typography,make-headings) and _feature(typography,heading,elements) {
    /*  Headings
     *  ============================================================================ */

     @include _make-headings('h');
}


/*  Block-level
 *  ============================================================================ */

p {
    @if _feature(layout,vertical-flow) {
        margin-bottom:          _gutter();
    }
}


/*  Inline
 *  ============================================================================
 *  1. Slightly extends the background-color highlight effect without visibly
 *     extending the element's overall width.
 */

mark,
ins { /* [1] */
    margin: {
        right:              -0.2ex;
        left:               -0.2ex; }
    padding: {
        right:              0.2ex;
        left:               0.2ex; }
}
