//
//  Breakpoints
//

@function _breakpoint-get-query($key) {
    @return _pathfinder(layout, breakpoints, $key);
}
@function _breakpoint-build-query($arg) {
    $query: ();
    
    @each $property, $value in ($arg) {
        $query: append($query, unquote("and (#{$property}: #{$value})"), space);
    }
    @return $query;
}

@mixin respond-to($breakpoint...) {
    $length: length($breakpoint);
    
    @for $index from 1 through $length {
        $i: nth($breakpoint, $index);
        
        @if _pathfinder(layout, breakpoints, $i) {
            $query: _breakpoint-get-query($i);

            @media only screen #{_breakpoint-build-query($query)} {
                @content;
            }
        } @else {
            @include debug(debug-message('respond-to'), debug-flag('respond-to'), $i);
        }
    }
}

