//
//  Mixins, scaling
//

@mixin size($width, $height: $width, $min: false, $max: false) {
    @if $min {
        min: {
            height:             $height;
            width:              $width; }
    }
    @if $max {
        max: {
            height:             $height;
            width:              $width; }
    }
    @if not $min and not $max {
        height:					$height;
        width:					$width;
    }
}

@mixin aspect-ratio($width: 16, $height: 9) {
	//  by Sean Dempsey
	//  http://codepen.io/seanseansean
    position:               relative;
	
	
	&::before {
        display:                block;
        content:                "";
        width:                  100%;
        padding-top:            ($height / $width) * 100%;
        
        pointer-events:         none;
	}
	
	
	> * {
        height:                 100%;
        width:                  100%;
        position:               absolute;
            top:                0;
            left:               0;
            right:              0;
            bottom:             0;
	}
}

