//
//  Mixins, animations
//

//  Animations
@if _feature(animation-mixins) {
    @mixin animate-spin($duration: 1s) {
        animation:              _spin $duration infinite linear;
    }

    @keyframes _spin {
        0% {
            transform:              rotate(0deg);
        }

        100% {
            transform:              rotate(359deg);
        }
    }
}
@debug mixin-exists(animate-spin);


//  Transitions
@mixin transition($properties, $duration: 0.25s, $timing-function: ease-in-out, $delay: 0) {
	transition: {
        delay:              $delay;
        duration:           $duration;
        property:           $properties;
        timing-function:    $timing-function; }
}

