//  ============================================================================
//
//  #PETRA
//
//  Dependency configuration for 'petra-sass'.
//
//  @TODO: document this method of implementing petra, noting that it requires
//  sass version 1.24 at least.
//
//  ============================================================================

@forward 'index' with (
    $config: (
        feature: (
            namespace: (
                // bem-nesting:            true,
                // strict-nesting:         true
            )
        ),
        namespace: (
            prefix: (
                // icon:                   'i-'
            )
        ),
        typography: (
            // browser-context:        18px,

            // font-face: (
            //     open-sans: (
            //         font-family:            "Open Sans",
            //         font-style:             normal,
            //         font-weight:            400,
            //         src: (
            //             url('/fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
            //             url('/fonts/OpenSans-Regular-webfont.woff') format('woff')
            //         )
            //     ),
            // ),
        )
    )
);
