//
//  Module @imports
//

@use 'dependencies/petra';

@use '02-tools/namespacing.bem' as *;
@use '02-tools/namespacing.prefixes' as *;
@use '02-tools/responsive' as *;


@include object('block') {
    @include block {
        color: red;
        font-size: petra.$browser-context;


        @include respond-to('large') {
            font-size: (petra.$browser-context * 2);
        }
    }


    @include modifier('modifier') {
        color: black;
    }


    @include element('element') {
        color: green;
    }
}
