//
//  Navigation Styles
//

.nav {
    @include modifier(semantic) {
        //  <nav class="semantic">
        //      <i class="fa-navicon nav-icon"></i>
        //  
        //      <ul>
        //          <li><a href="#">Link</a></li>
        //          <li><a href="#">Link</a></li>
        //          <li><a href="#">Link</a></li>
        //          <li><a href="#">Link</a></li>
        //      </ul>
        //  </nav>

        > i {
            cursor:                 pointer;
        }

        > ul,
        > ol {
            display:                none;
            margin:                 0;
            padding:                0;
            position:               absolute;
            z-index:                (z(header) + 2);

            list-style:             none;
        }

        &:hover {
            > ul,
            > ol {
                display:                block;
            }
        }
    }

    @include modifier(functional) {
        //  <nav class="functional">
        //      <input type="checkbox" id="site-nav-menu">
        //      <label for="site-nav-menu" onclick><i class="fa-navicon"></i></label>
        //
        //      <ul>
        //          <li><a href="#">Link</a></li>
        //          <li><a href="#">Link</a></li>
        //          <li><a href="#">Link</a></li>
        //          <li><a href="#">Link</a></li>
        //      </ul>
        //  </nav>

        position:               relative;

        @at-root {
            body {
                -webkit-animation:      android-bugfix infinite 1s;
            }

            @-webkit-keyframes bugfix {
                from {
                    padding:                0;
                }
                to {
                    padding:                0;
                }
            }
        }

        ul,
        ol {
            display:                none;
            float:                  left;
            margin:                 0;
            position:               absolute;
            z-index:                (z(header) + 2);

            list-style:             none;


            > li {

            }


            @include respond-to(medium) {

            }

            @include respond-to(large) {

            }
        }

        input[type="checkbox"] {
            position:               absolute;
            visibility:             hidden;

            &:checked {
                ~ ul,
                ~ ol {
                    display:                block;
                }
            }
        }

        label {
            position:               relative;
            display:                block;

            cursor:                 pointer;

            user-select:            none;


            > i {
                cursor:                 pointer;
            }
        }
    }
}






