//
//  Utilities, Typography
//

@if feature(font-scale-utilities) {
    @include _prefix( utility, _pathfinder(utilities, font-scale, namespace) ) {
        $start: _pathfinder(utilities, font-scale-start);
        $end: _pathfinder(utilities, font-scale-end);

        @for $i from $start through $end {
            &-x#{$i} { font-size: utility-value(1em * $i); }
        }
    }
}

@include _prefix(utility, 'text') {
    &-smaller { font-size: utility-value( _pathfinder(typography, font-sizes, smaller) ); }
    &-larger { font-size: utility-value( _pathfinder(typography, font-sizes, larger) ); }
}

@include _prefix(utility, 'nowrap') {
    white-space: utility-value(nowrap);
}

