//
//  Utilities, Display
//

//  'display'
@include _prefix(utility, 'display') {
    @each $val in _pathfinder(utilities, displays) {
        &-#{$val} { display: #{$val} !important; }
    }
}

@include _prefix(utility, 'null') {
    display:                none !important;
}

//  'visibility'
@include _prefix(utility, 'hidden') {
    visibility:             hidden !important;
}

@include _prefix(utility, 'visible') {
    visibility:             visible !important;
}

