//
//  Utilities, Display
//

@include _prefix(utility, 'null') {
    display:                utility-value(none);
    
    
    @include _responsive-modifier-array {
        display:                utility-value(none);
    }
}

//  'visibility'
@if feature(visibility-utils) {
    @include _prefix(utility, 'hidden') {
        visibility:             utility-value(hidden);
    }

    @include _prefix(utility, 'visible') {
        visibility:             utility-value(visible);
    }
}

