//
//  Grouping Elements
//

$petra-ul-margin-left:      1.25em;

ol,
ul {
    list-style:             none;
}

.list {
    margin: {
        bottom:             $gutter;
        left:               $petra-ul-margin-left; }
    
    
    > li {
        margin: {
            bottom:             ($gutter/2); }
    }
    
    
    @include modifier('circle') {
        @extend                 .list;

        list-style-type:        circle;
    }

    @include modifier('cjk-ideographic') {
        margin: {
            left:               $petra-ul-margin-left * 1.6; }

        list-style-type:        cjk-ideographic;
    }

    @include modifier('cjk') {
        @extend                 .list#{$ns-modifier}cjk-ideographic;
}

    @include modifier('decimal') {
        @extend                 .list;

        list-style-type:        decimal;


        > li:nth-of-type(1n+10) {
    //        margin-left:            1ch;
        }
    }

    @include modifier('decimal-leading-zero') {
        margin: {
            left:               $petra-ul-margin-left * 1.5; }

        list-style-type:        decimal-leading-zero;
    }

    @include modifier('disc') {
        @extend                 .list;

        list-style-type:        disc;
    }

    @include modifier('georgian') {
        @extend                 .list;

        list-style-type:        georgian;
    }

    @include modifier('hebrew') {
        @extend                 .list;

        list-style-type:        hebrew;
    }

    @include modifier('hiragana') {
        margin: {
            left:               $petra-ul-margin-left * 1.6; }

        list-style-type:        hiragana;


        &-iroha {
            margin: {
                left:               $petra-ul-margin-left * 1.6; }

            list-style-type:        hiragana-iroha;
        }
    }

    @include modifier('icon') {
        @extend                 .list;

        > li {
            position:               relative;

            > i:first-of-type {
                width:                  2.6rem;
                position:               absolute;
//                    top:                .55rem;
                    left:               -2.6rem;

                font-size:              1.8rem;
                text-align:             center;
            }
        }
    }

    @include modifier('lower-alpha') {
        @extend                 .list;

        list-style-type:        lower-alpha;
    }

    @include modifier('lower-greek') {
        @extend                 .list;

        list-style-type:        lower-greek;
    }

    @include modifier('lower-latin') {
        @extend                 .list;

        list-style-type:        lower-latin;
    }

    @include modifier('lower-roman') {
        @extend                 .list;

        list-style-type:        lower-roman;
    }

    @include modifier('none') {
        //  if the styles are written well, this class will never be used
        margin: {
            left:               0; }

        list-style-type:        none;
    }

    @include modifier('square') {
        @extend                 .list;

        list-style-type:        square;
    }

    @include modifier('upper-alpha') {
        @extend                 .list;

        list-style-type:        upper-alpha;
    }

    @include modifier('upper-latin') {
        @extend                 .list;

        list-style-type:        upper-latin;
    }

    @include modifier('upper-roman') {
        @extend                 .list;

        list-style-type:        upper-roman;
    }
}


dl {

}
.lexicon {
    margin: {
        bottom:             $gutter; }

    @include font-set(serif);


    dt {
        margin: {
            bottom:             1.45rem; }
    }

    dd {
        margin:                 0 1.5rem $gutter;


        p {
            margin-bottom:          1rem; }
    }


    @include element('entry-header') {
        display:                inline-block;

        font: {
            size:               inherit;
            weight:             600; }
    }

    @include element('pronunciation') {
        display:                inline-block;

        font-weight:            200;
        font-style:             normal;
        white-space:            nowrap;


        &::before {
            content:                "| ";
        }

        &::after {
            content:                " |";
        }
    }
    @include element('pron') {
        @extend                 .lexicon#{$ns-e}pronunciation;
    }

    @include element('noun') { }
}


figure {
    display:                block;
//    padding:                $gutter/2;
}

figcaption {
    display:                block;
}

hr {
    height:                 0;
    margin: {
        bottom:             $gutter; }
}

.hr {
    margin: {
        top:                ($gutter/2);
        bottom:             ($gutter/2); }
}






