//
//  Recurring Classes
//

//  formatting classes

.position {
    &-center {
        @include                position-center;
        
        
        @include modifier('horizontal') {
            @include                position-center($vertical: false);
        }
        
        @include modifier('vertical') {
            @include                position-center($horizontal: false);
        }
    }
}

.vertical-align {
    $values:                baseline,
                            bottom,
                            initial,
                            inherit,
                            middle,
                            sub,
                            super,
                            text-top,
                            text-bottom,
                            top;
    
    @each $var in $values {
        @include modifier($var) {
            vertical-align:         $var;
        }
    }
}


.br {
    margin: {
        bottom:             $gutter; }


    &-right {
        margin: {
            right:              $gutter;
        }
    }

    &-left {
        margin: {
            left:               $gutter;
        }
    }
}


//  display modifiers

.display {
    $values:                block,
                            inherit,
                            initial,
                            inline,
                            inline-block,
                            inline-table,
                            list-item,
                            none,
                            table,
                            table-caption,
                            table-cell,
                            table-column,
                            table-column-group,
                            table-header-group,
                            table-footer-group,
                            table-row,
                            table-row-group;

    @each $var in $values {
        @include modifier($var) {
            display:             $var !important;
        }
    }
}

.null {
    $at:                    $ns-responsive;
    
    @include                null;


    &#{$at} {
        &small {
            @include                null(small);
        }

        &small\/medium {
            @include                null(small/medium);
        }

        &medium {
            @include                null(medium);
        }

        &medium\/large {
            @include                null(medium/large);
        }

        &large {
            @include                null(large);
        }
        
        &print {
            @include                null(print);
        }
        
        &visual {
            @include                null(visual);
        }
    }
}

.visible {
    visibility:             visible;
}

.hidden,
.invisible {
    visibility:             hidden;
}

.cursor {
    $values:                alias,
                            all-scroll,
                            auto,
                            cell,
                            context-menu,
                            copy,
                            crosshair,
                            default,
                            grab,
                            grabbing,
                            help,
                            move,
                            no-drop,
                            none,
                            not-allowed,
                            pointer,
                            progress,
                            text,
                            vertical-text,
                            w-resize,
                            wait,
                            zoom-in,
                            zoom-out,

                            e-resize,
                            ew-resize,
                            n-resize,
                            ne-resize,
                            nesw-resize,
                            ns-resize,
                            nw-resize,
                            nwse-resize,
                            s-resize,
                            se-resize,
                            sw-resize,
                            col-resize,
                            row-resize;

    @each $var in $values {
        @include modifier($var) {
            cursor:             $var;
        }
    }
}






