//
//  Animation Mixins
//

@mixin animate-spin($duration) {
    animation:              spin $duration infinite linear;
}






//
//  @keyframe Declarations
//

@keyframes spin {
    0% {
        transform:              rotate(0deg);
    }

    100% {
        transform:              rotate(359deg);
    }
}






