//
//  Debugging
//

//  @debug statement variables

$debug-syntax:              "Invalid value(s) given for";

$debug-breakpoints-syntax:  "‘@include respond-to( )’";
$debug-center-syntax:       "‘@include position-center( )’";
$debug-align-syntax:        "‘@include align( )’";
$debug-null-syntax:         "‘@include null( )’";

$debug-check:               "Review styles.";
$debug-check-visible:       "Review styles or rendered markup.";


//  debugging mixins

@mixin debugger($condition: visual, $syntax: "element (no syntax defined)") {
    @if $condition {
        @if $condition == visual {
            outline: {
                color:              material-color(red) !important;
                style:              solid !important;
                width:              0.5ex !important; }

            @warn "#{$debug-syntax} #{$syntax}. #{$debug-check-visible}";
        }

        @else {
            @error "#{$debug-syntax} #{$syntax}. #{$debug-check}";
        }
    }

    @else {
        
    }
}






