//
//  Root
//

:root {
    box-sizing:             border-box;
    
    font: {
        family:             inherit;
        size:               (10 / strip-unit($_browser-context) * 100) + 0%;
        // 'size' sets the document's root font-size to 10px,
        // relative to the given browser context
        style:              inherit;
        weight:             inherit; }
    line-height:            _pathfinder(typography, line-height);
    text-decoration:        none;
    -ms-text-size-adjust:   100%;
    -webkit-text-size-adjust:100%;
    
    cursor:                 default;
}

*,
::before,
::after {
    box-sizing:             inherit;
    
    background-repeat:      no-repeat;
}


//  CSS reset
@if _feature(reset-css) {
    html, body {
        height:                 100%;
    }
    
    html, body, div, span,
    p, blockquote, pre,
    abbr, address, cite,
    code, del, dfn,
    em, img, ins,
    kbd, q, s,
    samp, small, strike,
    strong, sub, sup,
    tt, var, b, u, i,
    dl, dt, dd,
    ol, ul, li,
    fieldset, form, label,
    legend, table, caption,
    tbody, tfoot, thead,
    tr, th, td,
    article, aside, canvas,
    details, embed,  figure,
    figcaption, footer, header,
    hgroup,  menu, nav,
    output, ruby, section,
    summary, time, mark,
    audio, video {
        margin:                 0;
        padding:                0;
        
        border-style:           none;
    }
    
    article, aside, details,
    div, figcaption, figure,
    footer, header, main,
    menu, nav, section, summary {
        display:                block;
    }

    hr {
        box-sizing:             content-box;
        height:                 0;
        overflow:               visible;
    }
    
    ol, ul {
        list-style:             none;
    }
    
    pre, code,
    kbd, samp {
        font: {
            family:             monospace;
            size:               1em; }
    }
    
    
    a {
        background-color:       transparent;
        -webkit-text-decoration-skip:objects;
    }
    
    abbr[title] {
        border-bottom-style:    0;
        text: {
            decoration:         underline;
            decoration:         underline  dotted; }
    }
    
    blockquote, q {
        quotes:                 none;
        
        
        &::before,
        &::after {
            content:                '';
            content:                none;
        }
    }
    
    b, strong {
        font-weight:            bolder;
    }
    
    dfn, em, i {
        font-style:             italic;
    }

    del, s {
        text-decoration:        line-through;
    }
    
    sub, sup {
        height:                 0;
        position:               relative;
        
        font-size:              75%;
        line-height:            0;
    }
    sub {
        vertical-align:         sub;
    }
    sup {
        vertical-align:         super;
    }
    
    
    audio, canvas, iframe,
    img, svg, video {
        vertical-align:         middle;
    }
    
    audio, canvas, video {
        display:                inline-block;
    }
    
    audio:not([controls]) {
        display:                none;
        height:                 0;
    }
    
    img {
        border-style:           none;
    }
    
    svg:not(:root) {
        overflow:               hidden;
    }
    
    
    table {
        border: {
            collapse:           collapse;
            spacing:            0; }
    }
    
    
    button, input, optgroup,
    select, textarea {
        margin:                 0;
    }
    
    button, input, select,
    textarea {
        color:                  inherit;
        font-size:              inherit;
        line-height:            inherit;
    }
    
    button, input {
        overflow:               visible;
    }
    
    button, select {
        text-transform:         none;
    }
    
    textarea {
        overflow:               auto;
        resize:                 vertical;
    }
    
    template {
        display:                none;
    }
    
    
    a, area, button,
    input, label, select,
    summary, textarea, [tabindex] {
        touch-action:           manipulation;
    }
    
    
    [hidden] {
        display:                none;
    }
    
    [aria-busy="true"] {
        cursor:                 progress;
    }
    
    [aria-controls] {
        cursor:                 pointer;
    }
    
    [aria-disabled] {
        cursor:                 default;
    }
    
    
    @if _feature(reset-focus) {
        :focus {
            outline:                0;
        }
    }
}

