//
//  Grid
//

@include _prefix(object, 'row') {
    margin: {
        right:              ($gutter / -2);
        left:               ($gutter / -2); }
    
    @if _feature(flexbox-grid) {
        display:                flex;
        flex-wrap:              wrap;
    } @else {
        @include clearfix;
    }
}

@include _prefix(object, 'col') {
    @include _column-base;
    
    @each $breakpoint in $_breakpoints {
        @include respond-to($breakpoint) {
            @include _column-base($breakpoint);
        }
    }
}

