//
//  Modal Elements
//

.modal {
    display:                none;
    margin:                 0;
    overflow:               hidden;
    position:               fixed;
        top:                0;
        right:              0;
        bottom:             0;
        left:               0;
    z-index:                z(modal);

    -webkit-overflow-scrolling:touch;


    &-open {
        overflow:               hidden;


        .modal {
            overflow: {
                x:                  hidden;
                y:                  visible; }
        }
    }

    &-backdrop {
        position:               fixed;
            top:                -2rem;
            right:              -2rem;
            bottom:             -2rem;
            left:               -2rem;
        z-index:                (z(modal) - 2);
    }

    &-dialog {
        width:                  auto;
        position:               relative;
    }

    &-content {
        position:               relative;

        background-clip:        padding-box;


        :last-child {
            margin: {
                bottom:             0; }
        }
    }

    &-scrollbar-measure {
        //  not exactly sure what this does
        //  everything seems to work without it though
//        position:               absolute;
//        top:                    -900%;
//        width:                  5rem;
//        height:                 5rem;
//        overflow:               scroll;
    }


    @include element(header) {
        position:               relative;
    }

    @include element(title) {
        margin:                 0;
    }

    @include element(close) {
        @include modifier(icon) {
            z-index:                (z(modal) + 2);
        }
        
        @include modifier(button) {
            
        }
    }

    @include element(body) {
        position:               relative;
    }

    @include element(footer) { }
}






