//
//  Petra Configuration
//
//  Fallback configuration map
$_petra: (
    debugging: (
        messages: (
            lede:                   ("Invalid argument:", "passed to mixin:"),
            on-warn:                "Follow backtrace or review rendered markup.",
            on-error:               "Correct invalid argument to unblock compiler.",
            valid-arg:              "Valid arguments:",
            
            project-settings:       "No '$settings' map found for this project.",
            
            default:                "mixin (no message defined)",
        ),
        outline: (
            color:                  red,
            style:                  solid,
            width:                  0.5rem,
        ),
        flags: (
            //  set to 'true' to warn if no $settings map is declared.
            project-settings:       true,
            
            //  warn/error flags for petra mixins using the debug utility.
            //  set to 'true' to error out of a compile with incorrect syntax.
            respond-to:             false,
            float:                  false,
            null:                   false,
        ),
        
        health-check: (
            colors: (
                object:             #2196f3,
                component:          #00c853,
                utility:            #aa00ff,
                scope:              #ff3d00,
                hack:               #f44336,
                javascript:         #ffeb3b,
            ),
        ),
    ),
    
    namespacing: (
        prefixes: (
            object:                 'o',
            component:              'c',
            utility:                'u',
            scope:                  's',
            hack:                   '\*\*',
            javascript:             'js',
            
            delimiter:              '-',
        ),
        delimiters: (
            element:                '__',
            modifier:               '--',
            responsive:             \@,
        ),
    ),
    
    typography: (
        browser-context:        16px,
        
        font-sizes: (
            //  "static" sizes, should be in 'rem'.
            normal:                 1.6rem,
            
            //  "responsive" sizes, should be in '%' or 'em'.
            smaller:                85%,
            larger:                 115%,
        ),
        font-faces: (
            open-sans: (
                font-family:            "Open Sans",
                src: (
                    url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
                    url("/fonts/OpenSans-Regular-webfont.woff") format("woff")
                ),
            ),
        ),
        font-stacks: (
            sans-serif:             ("Helvetica Neue", Helvetica, sans-serif),
            serif:                  ("Times New Roman", Times, serif),
            monospace:              ("Lucida Console", Monaco, monospace),
        ),
        
        font-family:            sans-serif,
        line-height:            1.75,
        
        //  determines the value (in ems) by which headings h1-h6 are scaled
        //  relative to font-size.
        heading-scale-ratio:    0.25em,
    ),
    
    layout: (
        //  if 'type-based-grid' is true, this gutter will be ignored.
        gutter:                 1.75em,
        
        grid-columns:           12,
        
        breakpoints: (
            small: (
                max-width:          64rem,
            ),
            medium: (
                min-width:          64.1rem,
            ),
            large: (
                min-width:          102.4rem,
            ),
            retina: (
                min-device-pixel-ratio: 2,
                min-resolution:     192dpi,
            ),
        ),
        class-breakpoints:      3,
        
        z-indices: (
            default:                1,
        ),
    ),
    
    objects: (
        list-style-types: (
            circle, disclosure-closed, disclosure-open, decimal, decimal-leading-zero,
            disc, lower-alpha, lower-roman, square, upper-alpha, upper-roman,
        ),
    ),
    
    utilities: (
        //  Transform
        rotation-grades: (
            45, 90, 180, 270, 360,
        ),
        
        //  Typography
        font-scale-start:       1,
        font-scale-end:         10,
    ),
    
    single-property-utilities: (
        //  @TODO: debug how the constructor for this builds out the utilities
        //  when differences exist between this config and the user-facing one.
        
        //  Display
        display: (
            namespace:              'display',
            values: (
                block, flex, flow, flow-root, grid,
                inline, inline-block, inline-flex, inline-grid, inline-table,
                list-item, run-in, subgrid, table,
            ),
        ),
        
        //  Interaction
        cursor: (
            namespace:              'cursor',
            values: (
                alias, all-scroll, copy, crosshair, default,
                grab, grabbing, help, move, not-allowed,
                none, pointer, progress, text, wait,
                zoom-in, zoom-out,
            ),
        ),
        pointer-events: (
            namespace:              'pointer-events',
            values: (
                auto, initial, none,
            ),
        ),
        
        //  Layout
        position: (
            namespace:              'position',
            values: (
                absolute, fixed, relative, static,
            ),
        ),
        float: (
            namespace:              'float',
            values: (
                left, right, none,
            ),
        ),
        
        flex-direction: (
            namespace:              'flex-direction',
            values: (
                column, row,
            ),
        ),
        align-content: (
            namespace:              'flex-align',
            values: (
                center, flex-start, flex-end, space-around, space-between, stretch,
            ),
        ),
        justify-content: (
            namespace:              'flex-justify',
            values: (
                center, flex-start, flex-end, space-around, space-between,
            ),
        ),
        align-self: (
            namespace:              'flex-align-self',
            values: (
                center, flex-start, flex-end, space-around, space-between, stretch,
            ),
        ),
        
        //  Typography
        font-weight: (
            namespace:              'font-weight',
            values: (
                normal, bold, bolder, lighter,
            ),
        ),
        text-align: (
            namespace:             'text-align',
            values: (
                left, right, center, justify,
            ),
        ),
        text-transform: (
            namespace:              'text-transform',
            values: (
                capitalize, lowercase, uppercase,
            ),
        ),
        white-space: (
            namespace:              'white-space',
            values: (
                normal, pre, pre-line, pre-wrap,
            ),
        ),
        vertical-align: (
            namespace:              'vertical-align',
            values: (
                baseline, bottom, middle, sub, super,
                text-top, text-bottom, top,
            ),
        ),
    ),
    
    features: (
        //  Debugging
        //  'true' to outline affected elements when a mixin is passed invalid arguments.
        visual-debugging:       true,

        //  'true' to apply color-coded outlines to namespaced entities.
        health-check:           false,

        //  'true' to @debug print a count of namespaced scopes on compile.
        scope-index:            false,
        
        //  Namespacing
        //  'true' to nest BEM elements to their parent blocks.
        nested-bem:             true,
        
        //  'true' to nest BEM blocks with themselves to ensure consistent specificity.
        strict-nesting:         false,
        
        //  'true' to output BEM modifiers as delimiter-prefixed short classes.
        detached-bem-syntax:    false,
        
        //  Layout
        //  'true' to base project gutter and vertical spacing on line-height.
        type-based-grid:        true,
        
        //  Generic
        //  'true' to output CSS reset.
        reset-css:              true,
        
        //  'true' to reset :focus styles. WARNING: if 'true', implement custom styles to ensure accessibility.
        reset-focus:            false,
        
        //   'true' to remove all user agent button styles, rendering them as plain text.
        hard-reset-buttons:     true,
        
        //  Objects
        //  'true' to output a configurable grid system.
        grid-system:            true,
        
        //  'true' to use flexbox rules instead of floats in grid system.
        flexbox-grid:           true,
        
        //  'true' to build grid system with media queries as defined in config.
        responsive-grid:        true,
        
        //  Overrides
        //  'true' will output utility class values as '!important'.
        important-utilities:    true,
        
        //  'true' to output width-affecting 'span' utilities that correspond with the grid.
        grid-span-utilities:    true,
        
        //  'true' to output a stylesheet for printed media, based on the HTML5 boilerplate.
        print-media:            true,
    ),
);

