//
//  #SETTINGS, #PETRA-ASCII
//

$_petra-config-ascii: (
    id: 'ascii',

    bauble:                 \0028\3063\02d8\03c9\02d8\03c2\0029,                // (っ˘ω˘ς)
    eye:                    \0028\0020\25d5\25d5\0020\0029,                     // ( ◕◕ )
    eye-alt:                \0028\0020\25d5\002e\25d5\0020\0029,                // ( ◕.◕ )
    eyedk:                  \00af\005c\005f\0028\0020\25d5\25d5\0020\0029\005f\002f\00af, // ¯\_( ◕◕ )_/¯
    eyedk-alt:              \00af\005c\005f\0028\0020\25d5\002e\25d5\0020\0029\005f\002f\00af, // ¯\_( ◕.◕ )_/¯
    fisticuffs:             \0028\0e07\0027\002d\0027\0029\0e07,                // (ง'̀-'́)ง
    glare:                  \00ac\005f\00ac,                                    // ¬_¬
    glare-alt:              \0028\00ac\005f\00ac\0029,                          // (¬_¬)
    idfk:                   \00af\005c\005f\0028\0ca0\005f\0ca0\0029\005f\002f\00af, // ¯\_(ಠ_ಠ)_/¯
    idk:                    \00af\005c\005f\0028\30c4\0029\005f\002f\00af,      // ¯\_(ツ)_/¯
    koala:                  \0295\00b4\2022\1d25\2022\0060\0294,                // ʕ´•ᴥ•`ʔ
    koaladk:                \00af\005c\005f\0295\00b4\2022\1d25\2022\0060\0294\005f\002f\00af, // ¯\_ʕ´•ᴥ•`ʔ_/¯
    lenny:                  \0028\0020\0361\00b0\0020\035c\0296\0020\0361\00b0\0029, // (͡° ͜ʖ͡°)
    lurking:                \253b\2533\007c\a\2533\253b\007c\a\253b\2533\007c\a\2533\253b\007c\0020\005f\a\253b\2533\007c\0020\2022\002e\2022\0029\a\2533\253b\007c\2282\ff89\a\253b\2533\007c,
    monstercry:             \0f3c\0020\0f0e\0020\0df4\0020\0f0e\0020\0f3d,      // ༼ ༎ຶ ෴ ༎ຶ ༽
    summoner:               \0f3c\0020\3064\0020\25d5\25d5\0020\0f3d\3064,      // ༼ つ ◕◕ ༽つ
    tableflip:              \0028\256f\00b0\25a1\00b0\ff09\256f\fe35\0020\253b\2501\253b, // (╯°□°）╯︵ ┻━┻
    theface:                \0ca0\005f\0ca0,                                    // ಠ_ಠ
    theface-alt:            \0028\0ca0\005f\0ca0\0029,                          // (ಠ_ಠ)
);
